body{
    background-image: linear-gradient(to right top, #eeb4ee, #f1adf1, #f4a6f3, #f89ef5, #fb96f7);
}

.align{
    display: flex;
    flex-wrap: wrap;
}

#cnv{
    border: 1px solid black;
}

#screen{
    background-color: black;
    height: 250px;
    width: 600px;
    color: white;
    margin: 2px;
    letter-spacing: 10px;
}

.bt{
    margin: 10px;
}
