.align{
    display: flex;
    flex-wrap: wrap;
}

#cnv{
    border: 1px solid black;
}

#screen{
    background-color: black;
    height: 250px;
    width: 600px;
    color: white;
    margin: 2px;
}

/* .btn{
    align-content: flex-end;
} */

.bt{
    margin: 10px;
}
