body{
    background-image: linear-gradient(to right top, #1c5325, #33682b, #4b7d30, #679334, #85a837);
}

.align{
    display: flex;
    flex-wrap: wrap;
}

#cnv{
    border: 1px solid black;
}

#screen{
    background-color: black;
    height: 250px;
    width: 250px;
    color: white;
    margin: 2px;
    letter-spacing: 10px;
}

.bt{
    margin: 10px;
}
